@font-face {
  font-family: "LCD";
  src: url("/PixelOperator.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: rgba(213, 235, 215, 1); /* тёмно-зелёный LCD */
  color: rgba(2, 8, 86, 1);
  font-family: "LCD", monospace;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  text-shadow: rgba(110, 115, 179, 1);
}

.buttonOption {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  color: rgba(2, 8, 86, 1);
  text-shadow: 2px 0px 0px #6e73b3;
  font-family: "LCD", monospace;
  width: 100vw;
  background-color: transparent;
  height: 100px;
  font-size: 56px;
  border: none;
}

.buttonOption.active {
  color: rgba(213, 235, 215, 1);
  background-color: rgba(2, 8, 86, 1);
  box-shadow: 0px 0px 1px 2px #6e73b3;
}
